if TARGET_G12B_NEWMAN_PX

config SYS_BOARD
	default "g12b_newman_px"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "g12b_newman_px"

config CONFIG_AML_ANTIROLLBACK
	bool
	default n

config G12B_NEWMAN_P2_1
	bool "Additional support for amlogic g12b newman p2.1 board"
	default n

config ZIRCON_BOOT_IMAGE
	bool "Zircon boot image support"
	default n

endif

